*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.gadm
.tmp
coverage
node_modules
package-lock.json

# dev
/packages/*/server/*.local.json
/packages/*/server/*.local.js
/packages/schema-design
# testing
/coverage
#cache
/packages/water-api/temp
/packages/water-api/tempSpreadSheet/excel/generated
/packages/water-api/tempSpreadSheet/excel/uploaded
/packages/water-api/common/common-logic/engine/templating/views
/packages/ra-loopback3/client

# production
/build
/packages/water-api/client/nms
/packages/water-api/client/ctm
/packages/water-api/client/src
/packages/water-api/client/org
/packages/water-api/client/cmn
/packages/water-api/client/ftr
/packages/water-api/client/client
/packages/wnms-web/dist
/packages/wctm-web/dist
/packages/*/yarn.lock
/packages/water-api/server/datasources.local.*
/tmp

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

package.json.lerna_backup
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

temp
dump.rdb
report*.json
~$*.xlsx
~$*.xls
~$*.docx
~$*.doc
tmp-test-job.js

.data

/setup-bundle*
