body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MuiFormControl-root-61 {
  display: flex !important;
}


.abc {
  width: 500px;
  height: 300px;
  border: 1px;
  background-color: green;

}
.abc img{
    position: absolute;
    right: 5px;
    bottom: 5px;
}